:root {
  --appWidth: 960px;
  --appPadding: 20px;
  --maxTextWidth: 700px;
  --headerHeight: 60px;
  --footerHeight: 50px;
  --headerMargin: 30px;
  --sideNavWidth: 300px;

  --mainColor: #5f37d1;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents {
  width: var(--appWidth);
  padding: 0 var(--appPadding);
  margin: 0 auto;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}