:root {
  --appWidth: 960px;
  --appPadding: 20px;
  --maxTextWidth: 700px;

  --mainColor: #28A5FF;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents {
  max-width: var(--appWidth);
  padding: 0 var(--appPadding);
  margin: 0 auto;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}