.header {
  height: var(--headerHeight);
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0 var(--appPadding);
  grid-area: header;
  position: fixed;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.header_link {
  text-decoration: none;
  color: #222;
}

.logo_emoji {
  font-size: 2.2rem;
  padding-right: 5px;
  position: relative;
  top: -1px;
}

.header_title {
  font-family: 'Abhaya Libre';
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-right: 50px;
  font-size: 2.9rem;
}

@media (max-width: 650px) {
  .header_title {
    margin: 0 auto;
  }

  .header {
    top: 0;
    left: 0;
    width: 100%;
  }

  .header .nav {
    display: none;
  }
}
